.card-container {
    width: 600px;
    height: 472px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0, 3s;
    animation: ease-in;
    border-radius: 10px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #226072;
}

.card-container:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

.image-container img {
    overflow: hidden;
    height: 320px;
    width: 600px;
    position: relative;
    z-index: 1;
}

.card-content {
    margin: 1rem;
    margin-top: 0.5rem;
}

h3, p {
    margin: 0;
    padding: 0;
    z-index: 9999;
    color: white;
}

.card-title {
    margin-bottom: 0.5rem;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn button {
    padding: 0.5rem;
    background-color: #5EC27F;
    border: none;
    transition: 0.2s;
    margin-bottom: 5rem;
    border-radius: 8px;
}

.btn button:hover {
    background-color: lightgray;
}

.a {
    text-transform: uppercase;
    color: lightseagreen;
    text-decoration: none;
    font-weight: bold;
}